data/
runs/
YOLO_data/
.venv/
face_alignment/__pycache__/
backbones/__pycache__/
.vscode/
edgeface310/
models/
new_test/
edgeface310/
.venv_wsl/
group_test/
faces/
video/
converted_models/
checkpoints/
mlruns/
yolo_dataset/
e/
useful_videos/
__pycache__